<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".RoomHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RoomCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RoomJoinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RoomMainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:screenOrientation="locked" />

        <activity
            android:name=".aitranscription.AITranscriptionSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aitranscription.AIMinutesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RoomScheduleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RoomScheduledDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>