<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="io.trtc.tuikit.chat.demo.Application"
        android:icon="@drawable/demo_ic_launcher"
        android:label="@string/demo_app_name"
        android:roundIcon="@drawable/demo_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/demo_Theme_ChatView">

        <activity
            android:name="io.trtc.tuikit.chat.demo.login.LocalLoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.trtc.tuikit.chat.demo.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.chat.ChatActivity"
            android:exported="false" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.chat.ChatSettingActivity"
            android:exported="false" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.SelfDetailActivity"
            android:exported="false" />



        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.VoiceMessageSettingActivity"
            android:exported="false" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.VoiceCloneActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.settings.VoiceSelectActivity"
            android:exported="false" />

        <activity
            android:name="io.trtc.tuikit.chat.demo.search.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />


    </application>
</manifest>
